<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://github.com/TRU-Global/TRUGlobalAutomation"
        style="background-image: src('https://a.storyblok.com/f/42126/f899cb73c3/the-complete-guide-to-angular-2.jpg');">
        <span class="">Automation Framework <br /><small>Selenium Cucumber Java</small></span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://github.com/mario1787/testingapp-"
        style="background-image: src('https://a.storyblok.com/f/42126/f899cb73c3/the-complete-guide-to-angular-2.jpg');">
        <span class="">Platform Tool [UI] <br /><small>REACT- JS HTML CSS</small></span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://github.com/mario1787/jumbojet"
        style="background-image: src('https://a.storyblok.com/f/42126/f899cb73c3/the-complete-guide-to-angular-2.jpg');">
        <span class="">Platform Tool [Backend] <br /><small>SPRING- JAVA</small></span>
    </a>

</div>



