small {
    font-size: 0.4em;
}
a.card {
    width: fit-content;
    text-align: center;
    color: #6e6868;
    padding: 20px;
}
.certificate-badge{
    background: url('https://f4n3x6c5.stackpathcdn.com/article/what-is-aws-certification/Images/AWS%20Certification.png');
}
.certificate-badge-solution{
    background: url('https://d1.awsstatic.com/training-and-certification/certification-badges/AWS-Certified-Solutions-Architect-Professional_badge.69d82ff1b2861e1089539ebba906c70b011b928a.png');
}
.certificate-badge-arch{
    background: url('https://d1.awsstatic.com/training-and-certification/certification-badges/AWS-Certified-Solutions-Architect-Associate_badge.3419559c682629072f1eb968d59dea0741772c0f.png');
}
