<div class="card-container">
    <a class="card" style="height: 350px; width: 358px;" target="_blank" rel="noopener" href="https://aws.amazon.com/certification/certified-solutions-architect-professional/">
        <span class="certificate-badge-solution" style="height: 300px; width: 300px;" ></span>
    </a>
    <a class="card" style="height: 350px; width: 358px;" target="_blank" rel="noopener" href="https://aws.amazon.com/certification/certified-solutions-architect-associate/">
        <span class="certificate-badge-arch" style="height: 300px; width: 300px;" ></span>
    </a>
    
</div>



