
<div class="content" role="main">
<!-- Resources -->
<h2>Resources</h2>
<p>Here are some links to help make your learning experience a little better</p>
<div class="card-container">
  <app-learning-modules></app-learning-modules>
</div>

<!-- Forums -->
<h2>Forums</h2>
<p>Contribute with your learnings & begin some discussion</p>
<app-forums></app-forums>

<!-- Arsenal -->
<h2>Arsenal</h2>
<p>Strong & Powerful Tools to ease customer experience </p>
<app-forums></app-forums>

<!-- Certifications -->
<h2>Certification</h2>
<p>Recommended Certification to make you stand out of the crowd</p>
<app-forums></app-forums>

</div>